{{ university }}
<table class="table table-primary">
    <tr>
        <th>Greenwich</th>
    </tr>
    {{#each university }}
        <tr>
            <td>{{ this }}</td>
        </tr>
    {{/each}}
</table>