<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cau Giay</title>
</head>
<body>
    <h1 class="text text-danger">Cau Giay - Ha Noi</h1>
    <button class="btn btn-success">Click me</button>
<table class="table table-bordered col-md-5">
    <tr>
        <th>Id</th>
        <th>Street name</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Pham Van Bach</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Duong Dinh Nghe</td>
    </tr>
</table>

</body>
</html>